<a href="https://colab.research.google.com/github/Rushikesh10/Python/blob/master/1.Python_Installation_and_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Integers
a=7
print(a)
print(type(a))

7
<class 'int'>

In [ ]:
#Float
x=1.6
print(x)
print(type(x))

1.6
<class 'float'>

In [ ]:
#Boolean
b1=True
b2=False
print(b1 and b2)
type(b1)

False

bool

In [ ]:
#String
s1="My name is rushikesh patil"
print(s1)
type(s1)

My name is rushikesh patil

str

In [ ]:
#Complex
j=1.0+3.6j
print(j)
print(type(j))
print(j.real)
print(j.imag)

(1+3.6j)
<class 'complex'>
1.0
3.6

In [ ]:
#Variable
a=10
print(a)

10

In [ ]:
#Dynamic Typing
a=10
a
a='ten'
a

'ten'

In [ ]:
#Strong Typing
'Day'+ str(1)

'Day1'

In [ ]:
#Boolean Expression
#AND
one=True and True
two=True and False
three= False and True
four=False and False
print(one,two,three,four)

#OR
one= True or True 
two= True or False
three=False or True
four=False or False
print(one,two,three,four)

#Not
one=not True
two = not False
print(one,two)

#is
'a' is 'a'
True is False

True False False False
True True True False
False True

False

In [ ]:
#Branching (if/elif/else)

i=4
if(i<3):
  print(i," is less than 3")
  if(i<2):
    print(i," is less than 2")
else:
  print(i,"is greater than 3")

4 is greater than 3

In [ ]:
#List
l=[]
type(l)
l=list()
type(l)

list

In [ ]:
l=()
type(l)

tuple

In [ ]:
l1=["Rushi","Arun","Patil"]
l2=["Arun","Rambhau","Patil"]
l1+l2

['Rushi', 'Arun', 'Patil', 'Arun', 'Rambhau', 'Patil']

In [ ]:
l3=list("Rushikesh")
l3

['R', 'u', 's', 'h', 'i', 'k', 'e', 's', 'h']

In [ ]:
for i in l3:
  print(i)

R
u
s
h
i
k
e
s
h

In [ ]:
#Loops
# Program to find the sum of all numbers stored in a list
numbers=[10,20,2,34,23,56,6,45,4]
sum=0
for i in numbers:
  sum=sum+i
print(sum)

200

In [ ]:
numbers=[10,20,454,53,53,5,55,64,32]
for i in numbers:
  print(i)
else:
  print("Done")

10
20
454
53
53
5
55
64
32
Done

In [ ]:
#While Loop
#Program to add natural number upto n.
n=10
sum=0
i=1
while(i<=n):
  sum=sum+i
  i=i+1
print(sum)

55

In [ ]:
#Range
range(6)

range(0, 6)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(8,2,-2))

[8, 6, 4]

In [ ]:
list(range(2,20,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
# Program to iterate through a list using indexing
genre=['pop','jazz','rock','sapna']

# iterate over the list using index
for i in range(len(genre)-1):
  print(genre[i])

pop
jazz
rock

In [ ]:
#Break Statement
for val in "string":
  if val=='i':
    break
  print(val)
print("The end")

s
t
r
The end

In [ ]:
#Continue Statement
for val in "string":
  if val=="i":
    continue
  print(val)
print("The end")

s
t
r
n
g
The end

In [ ]:
# Program to take the input string from the user.
name=input("what is your name")
print(name)

what is your nameRushi
Rushi

In [ ]:
# Program to read integers from user
age=int(input("What is your age"))
print(age)

What is your age15
15